{% include "header.html" %}

    <h1>Change Password</h1>

    {% if change_error is sameas "Password successfully changed." %}
        <div class="green">{{ change_error }}</div>
        <br>

    {% elif change_error is sameas "The current password is incorrect." %}
        <div class="red">{{ change_error }}</div>
        <br>

    {% else %}
        <div class="red">{{ change_error }}</div>
        <br>

    {% endif %}

    <form action="/change" method="POST" >
                
        <div>
            Current Password
        </div>
        <input type="password" name="old" required></input>
        <br>
        <br>

        <div>
            New Password
        </div>
        <input type="password" name="new1" required></input>
        <br>
        <br>

        <div>
            Confirm New Password
        </div>
        <input type="password" name="new2" required></input>
        <br>
        <br>

        <div>
        <input type="submit" value="Submit New Password"/>
        </div>
    </form>

{% include "footer.html" %}
