<html>
    <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/boot
    strap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <style>
            .footer {
            font-size:10px;
            }
            .red {
                color:red;
            }
        </style>
    </header>
<body>
    <div>
        <a href='/'>Home</a> | 
        <a href='/products'>Products</a> | 
        <a href='/branches'>Branches</a> | 
        <a href='/aboutus'>About Us</a> | 
        
        <span>
            {% if session["user"] is defined %}
            Welcome, {{ session["user"]["first_name"] }}.
            <a href='/cart'>My Cart</a> | 
            <a href='/orderhistory'>My Order History</a> | 
            <a href='/changepassword'>Change Password</a> | 
            <a href='/logout'>Logout</a>
            {% else %}
            <a href='/login'>Login</a>
        </span>
        {% endif %}
        
    </div>
    <p/>
    
